<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAccountControl</display-name>
    <servlet-name>AddAccountControl</servlet-name>
    <servlet-class>Controller.AddAccountControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountControl</servlet-name>
    <url-pattern>/AddAccountControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAmountCartControl</display-name>
    <servlet-name>AddAmountCartControl</servlet-name>
    <servlet-class>Controller.AddAmountCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAmountCartControl</servlet-name>
    <url-pattern>/AddAmountCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartControl</display-name>
    <servlet-name>AddCartControl</servlet-name>
    <servlet-class>Controller.AddCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartControl</servlet-name>
    <url-pattern>/AddCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddControl</display-name>
    <servlet-name>AddControl</servlet-name>
    <servlet-class>Controller.AddControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddControl</servlet-name>
    <url-pattern>/AddControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReviewControl</display-name>
    <servlet-name>AddReviewControl</servlet-name>
    <servlet-class>Controller.AddReviewControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewControl</servlet-name>
    <url-pattern>/AddReviewControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierControl</display-name>
    <servlet-name>AddSupplierControl</servlet-name>
    <servlet-class>Controller.AddSupplierControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierControl</servlet-name>
    <url-pattern>/AddSupplierControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryControl</display-name>
    <servlet-name>CategoryControl</servlet-name>
    <servlet-class>Controller.CategoryControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryControl</servlet-name>
    <url-pattern>/CategoryControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryShopControl</display-name>
    <servlet-name>CategoryShopControl</servlet-name>
    <servlet-class>Controller.CategoryShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryShopControl</servlet-name>
    <url-pattern>/CategoryShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountControl</display-name>
    <servlet-name>DeleteAccountControl</servlet-name>
    <servlet-class>Controller.DeleteAccountControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountControl</servlet-name>
    <url-pattern>/DeleteAccountControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartControl</display-name>
    <servlet-name>DeleteCartControl</servlet-name>
    <servlet-class>Controller.DeleteCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartControl</servlet-name>
    <url-pattern>/DeleteCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteControl</display-name>
    <servlet-name>DeleteControl</servlet-name>
    <servlet-class>Controller.DeleteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteControl</servlet-name>
    <url-pattern>/DeleteControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupplierControl</display-name>
    <servlet-name>DeleteSupplierControl</servlet-name>
    <servlet-class>Controller.DeleteSupplierControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplierControl</servlet-name>
    <url-pattern>/DeleteSupplierControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailControl</display-name>
    <servlet-name>DetailControl</servlet-name>
    <servlet-class>Controller.DetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailControl</servlet-name>
    <url-pattern>/DetailControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoanhThuTheoThangControl</display-name>
    <servlet-name>DoanhThuTheoThangControl</servlet-name>
    <servlet-class>Controller.DoanhThuTheoThangControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoanhThuTheoThangControl</servlet-name>
    <url-pattern>/DoanhThuTheoThangControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoanhThuTheoThuControl</display-name>
    <servlet-name>DoanhThuTheoThuControl</servlet-name>
    <servlet-class>Controller.DoanhThuTheoThuControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoanhThuTheoThuControl</servlet-name>
    <url-pattern>/DoanhThuTheoThuControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditControl</display-name>
    <servlet-name>EditControl</servlet-name>
    <servlet-class>Controller.EditControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditControl</servlet-name>
    <url-pattern>/EditControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileControl</display-name>
    <servlet-name>EditProfileControl</servlet-name>
    <servlet-class>Controller.EditProfileControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileControl</servlet-name>
    <url-pattern>/EditProfileControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordControl</display-name>
    <servlet-name>ForgotPasswordControl</servlet-name>
    <servlet-class>Controller.ForgotPasswordControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordControl</servlet-name>
    <url-pattern>/ForgotPasswordControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoaDonControl</display-name>
    <servlet-name>HoaDonControl</servlet-name>
    <servlet-class>Controller.HoaDonControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoaDonControl</servlet-name>
    <url-pattern>/HoaDonControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeControl</display-name>
    <servlet-name>HomeControl</servlet-name>
    <servlet-class>Controller.HomeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControl</servlet-name>
    <url-pattern>/HomeControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAmountCartControl</display-name>
    <servlet-name>LoadAmountCartControl</servlet-name>
    <servlet-class>Controller.LoadAmountCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAmountCartControl</servlet-name>
    <url-pattern>/LoadAmountCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadControl</display-name>
    <servlet-name>LoadControl</servlet-name>
    <servlet-class>Controller.LoadControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadControl</servlet-name>
    <url-pattern>/LoadControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMoreAdidasControl</display-name>
    <servlet-name>LoadMoreAdidasControl</servlet-name>
    <servlet-class>Controller.LoadMoreAdidasControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMoreAdidasControl</servlet-name>
    <url-pattern>/LoadMoreAdidasControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMoreControl</display-name>
    <servlet-name>LoadMoreControl</servlet-name>
    <servlet-class>Controller.LoadMoreControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMoreControl</servlet-name>
    <url-pattern>/LoadMoreControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMoreNikeControl</display-name>
    <servlet-name>LoadMoreNikeControl</servlet-name>
    <servlet-class>Controller.LoadMoreNikeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMoreNikeControl</servlet-name>
    <url-pattern>/LoadMoreNikeControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>Controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutControl</display-name>
    <servlet-name>LogOutControl</servlet-name>
    <servlet-class>Controller.LogOutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutControl</servlet-name>
    <url-pattern>/LogOutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerAccountControl</display-name>
    <servlet-name>ManagerAccountControl</servlet-name>
    <servlet-class>Controller.ManagerAccountControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerAccountControl</servlet-name>
    <url-pattern>/ManagerAccountControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerCartControl</display-name>
    <servlet-name>ManagerCartControl</servlet-name>
    <servlet-class>Controller.ManagerCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerCartControl</servlet-name>
    <url-pattern>/ManagerCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerControl</display-name>
    <servlet-name>ManagerControl</servlet-name>
    <servlet-class>Controller.ManagerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerControl</servlet-name>
    <url-pattern>/ManagerControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSupplierControl</display-name>
    <servlet-name>ManagerSupplierControl</servlet-name>
    <servlet-class>Controller.ManagerSupplierControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSupplierControl</servlet-name>
    <url-pattern>/ManagerSupplierControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderControl</display-name>
    <servlet-name>OrderControl</servlet-name>
    <servlet-class>Controller.OrderControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderControl</servlet-name>
    <url-pattern>/OrderControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxColorBlackControl</display-name>
    <servlet-name>SearchAjaxColorBlackControl</servlet-name>
    <servlet-class>Controller.SearchAjaxColorBlackControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxColorBlackControl</servlet-name>
    <url-pattern>/SearchAjaxColorBlackControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxColorGrayControl</display-name>
    <servlet-name>SearchAjaxColorGrayControl</servlet-name>
    <servlet-class>Controller.SearchAjaxColorGrayControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxColorGrayControl</servlet-name>
    <url-pattern>/SearchAjaxColorGrayControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxColorWhiteControl</display-name>
    <servlet-name>SearchAjaxColorWhiteControl</servlet-name>
    <servlet-class>Controller.SearchAjaxColorWhiteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxColorWhiteControl</servlet-name>
    <url-pattern>/SearchAjaxColorWhiteControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxColorYellowControl</display-name>
    <servlet-name>SearchAjaxColorYellowControl</servlet-name>
    <servlet-class>Controller.SearchAjaxColorYellowControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxColorYellowControl</servlet-name>
    <url-pattern>/SearchAjaxColorYellowControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxPrice100To200ShopControl</display-name>
    <servlet-name>SearchAjaxPrice100To200ShopControl</servlet-name>
    <servlet-class>Controller.SearchAjaxPrice100To200ShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxPrice100To200ShopControl</servlet-name>
    <url-pattern>/SearchAjaxPrice100To200ShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxPriceAbove200ShopControl</display-name>
    <servlet-name>SearchAjaxPriceAbove200ShopControl</servlet-name>
    <servlet-class>Controller.SearchAjaxPriceAbove200ShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxPriceAbove200ShopControl</servlet-name>
    <url-pattern>/SearchAjaxPriceAbove200ShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxPriceMinToMaxShopControl</display-name>
    <servlet-name>SearchAjaxPriceMinToMaxShopControl</servlet-name>
    <servlet-class>Controller.SearchAjaxPriceMinToMaxShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxPriceMinToMaxShopControl</servlet-name>
    <url-pattern>/SearchAjaxPriceMinToMaxShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAjaxPriceUnder100ShopControl</display-name>
    <servlet-name>SearchAjaxPriceUnder100ShopControl</servlet-name>
    <servlet-class>Controller.SearchAjaxPriceUnder100ShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjaxPriceUnder100ShopControl</servlet-name>
    <url-pattern>/SearchAjaxPriceUnder100ShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAjax</display-name>
    <servlet-name>SearchByAjax</servlet-name>
    <servlet-class>Controller.SearchByAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAjax</servlet-name>
    <url-pattern>/SearchByAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAjaxHoaDon</display-name>
    <servlet-name>SearchByAjaxHoaDon</servlet-name>
    <servlet-class>Controller.SearchByAjaxHoaDon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAjaxHoaDon</servlet-name>
    <url-pattern>/SearchByAjaxHoaDon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAjaxShop</display-name>
    <servlet-name>SearchByAjaxShop</servlet-name>
    <servlet-class>Controller.SearchByAjaxShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAjaxShop</servlet-name>
    <url-pattern>/SearchByAjaxShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControl</display-name>
    <servlet-name>SearchControl</servlet-name>
    <servlet-class>Controller.SearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControl</servlet-name>
    <url-pattern>/SearchControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopControl</display-name>
    <servlet-name>ShopControl</servlet-name>
    <servlet-class>Controller.ShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopControl</servlet-name>
    <url-pattern>/ShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpControl</display-name>
    <servlet-name>SignUpControl</servlet-name>
    <servlet-class>Controller.SignUpControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpControl</servlet-name>
    <url-pattern>/SignUpControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticControl</display-name>
    <servlet-name>StatisticControl</servlet-name>
    <servlet-class>Controller.StatisticControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticControl</servlet-name>
    <url-pattern>/StatisticControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubAmountCartControl</display-name>
    <servlet-name>SubAmountCartControl</servlet-name>
    <servlet-class>Controller.SubAmountCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAmountCartControl</servlet-name>
    <url-pattern>/SubAmountCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top5KhachHangControl</display-name>
    <servlet-name>Top5KhachHangControl</servlet-name>
    <servlet-class>Controller.Top5KhachHangControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top5KhachHangControl</servlet-name>
    <url-pattern>/Top5KhachHangControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top5NhanVienControl</display-name>
    <servlet-name>Top5NhanVienControl</servlet-name>
    <servlet-class>Controller.Top5NhanVienControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top5NhanVienControl</servlet-name>
    <url-pattern>/Top5NhanVienControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top10SanPhamControl</display-name>
    <servlet-name>Top10SanPhamControl</servlet-name>
    <servlet-class>Controller.Top10SanPhamControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top10SanPhamControl</servlet-name>
    <url-pattern>/Top10SanPhamControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalMoneyCartControl</display-name>
    <servlet-name>TotalMoneyCartControl</servlet-name>
    <servlet-class>Controller.TotalMoneyCartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalMoneyCartControl</servlet-name>
    <url-pattern>/TotalMoneyCartControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XuatExcelControl</display-name>
    <servlet-name>XuatExcelControl</servlet-name>
    <servlet-class>Controller.XuatExcelControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XuatExcelControl</servlet-name>
    <url-pattern>/XuatExcelControl</url-pattern>
  </servlet-mapping>
</web-app>